<div class="container-fluid">
    <div class = "row">
        <div class = "col-md-12 text-center">
            <h1 id="title">
                About the Team
            </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <button class="button buttonDonate btn-block">Donate</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="devCarousel" class="carousel slide card" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#devCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#devCarousel" data-slide-to="1"></li>
                    <li data-target="#devCarousel" data-slide-to="2"></li>
                    <li data-target="#devCarousel" data-slide-to="3"></li>
                    <li data-target="#devCarousel" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row justify-content-center over">
                            <div class="col-md-11">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                                <img class="d-block devImage" src="../imgs/JFreedman2.jpg" alt="Jacob Freedman">
                                <div class="overlay">
                                    <div class="img">
                                        <img src="../imgs/JacobBby.jpeg" alt="Baby Jake" style="width:100%;opacity:0.85;border-radius:5px 5px 0 0;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row devInfo justify-content-center">
                            <div class="col-md-11 p-4">
                                <h4><b>Jacob</b></h4>
                                <p style = "font-size: 16px;">Jake Freedman is currently a senior at Palmer Trinity School in Miami, Florida.
                                    He is president of his school's Tri-M Music Honors Society where he frequently organizes fundraisers and performances with his fellow musicians.
                                    He plays the bass drum in the school's drumline as well as piano and trumpet.
                                    Jake is involved with Feeding South Florida and organizes food drives as one of their Youth Ambassadors.
                                    Jake is on his school's Student Diversity Council's Executive Board. He is also a Center for Writing Peer Editor, and Peer Counselor.
                                    Jake found his passion for computer science while taking AP Computer Science during his junior year of high school. Jake will be attending Tufts University in the fall.</p>

                                <h4><b>Fun Facts</b></h4>
                                <ul style = "font-size: 16px;">
                                    <li>Out of all the people in the world, Jake is most inspired by Mr. Rivera who helped him find his passion for computer science. </li>
                                    <li>Jake has traveled all around the country on outdoor adventures with his friends. He's gone backpacking in Yellowstone, northern California, and Alaska.
                                        His favorite memory from these trips was sea kayaking with Killer Whales in Alaska's Prince William Sound.</li>
                                    <li>Jake is a Marvel comics enthusiast and has been collecting comics since he was young.</li>
                                    <li>Jake aspires to be a sports journalist or a computer programmer.</li>
                                    <li>Jake is a three time champion of his fantasy football league. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center over">
                            <div class="col-md-11">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>

                                <img class="d-block devImage" src="../imgs/LHinke2.jpg" alt="Lorenzo Hinke">
                                <div class="overlay">
                                    <div class="img">
                                        <img src="../imgs/LorenzoBby.png" alt="Baby Hinke" style="width:100%;opacity:0.85;border-radius:5px 5px 0 0;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row devInfo justify-content-center">
                            <div class="col-md-11 p-4">
                                <h4><b>Lorenzo Hinke</b></h4>
                                <p style = "font-size: 16px;">Lorenzo Hinke is a senior at Palmer Trinity School.
                                    He was born in Mexico to a German father and Mexican mother and moved to Miami at the age of 7.
                                    Lorenzo is currently the Treasurer of the Palmer Trinity Investment Club, a non-profit student run club that has a real portfolio of around $47,000.
                                    He first discovered his passion for computer science in the 7th grade.
                                    Since then he has continued to explore this discipline both in and outside of school.
                                    Lorenzo believes that this independent study is his next step towards a CS major. Lorenzo will be attending the Univsersity of St. Andrews in the fall.</p>

                                <h4><b>Fun Facts</b></h4>
                                <ul style = "font-size: 16px;">
                                    <li>Lorenzo is the second child of a family of four children.</li>
                                    <li>He has another passion which is piano.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center over">
                            <div class="col-md-11">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>

                                <img class="d-block devImage" src="../imgs/ECutin2.jpg" alt="Ezequiel Cutin">
                                <div class="overlay">
                                    <div class="img">
                                        <img src="../imgs/EzeBby.jpg" alt="Baby E-Cut" style="width:100%;opacity:0.85;border-radius:5px 5px 0 0;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row devInfo justify-content-center">
                            <div class="col-md-11 p-4">
                                <h4><b>Ezequiel Cutin</b></h4>
                                <p style = "font-size: 16px;">Ezequiel Cutin is a senior attending Palmer Trinity School.
                                    He plays soccer both for his school and for a club, Coral Estates Strikers.
                                    He is part of the Math Honors Society (Mu Alpha Theta) and the Hispanic Honors Society.
                                    He worked at Venture Hive as an intern in 2019, helping to create an FAQ and help customer testing.
                                    He also served as a receptionist, assistant programming, and a beta tester for the learning platform. Ezequiel, fondly known as Zeke, will be attending The University of Michigan in the fall. </p>

                                <h4><b>Fun Facts</b></h4>
                                <ul style = "font-size: 16px;">
                                    <li>Ezequiel's favorite band is the Beatles</li>
                                    <li>His favorite food is Argentinian parrilla. </li>
                                    <li>He wants to help change the world when he is older.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center over">
                            <div class="col-md-11">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>

                                <img class="d-block devImage" src="../imgs/DMess2.jpg" alt="Diego Messmacher">
                                <div class="overlay">
                                    <div class="img">
                                        <img src="../imgs/DiegoBby.jpg" alt="Baby Dems" style="width:80%;opacity:0.85;border-radius:5px 5px 0 0;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row devInfo justify-content-center over">
                            <div class="col-md-11 p-4">
                                <h4><b>Diego Messmacher</b></h4>
                                <p style = "font-size: 16px;">Diego Messmacher was born August 19, 2002, in a municipality- in the State of Mexico, Mexico- named Huixquilucan.
                                    Diego started playing games very early when his dad bought him a Nintendo game boy.
                                    At age 11, Diego moved from Mexico City to Miami, FL, where he started attending Palmer Trinity School in the 6th grade. This is when he met Lorenzo, Joseph, Eze, and Jake, his partners in Games for Food.
                                    During his 8th grade, Joe convinced Diego to play football, which taught him how to work hard for what you want.
                                    These values served him well in AP Computer Science during his Junior year, as his hard work earned him not only a good grade in the class but, also the ability to join the independent study, where we created this website.
                                    Nowadays, during his Senior year, Diego is captain of the football team, a scholar, and a proud member of the Games for Food team! Diego, fondly known as Dems, will be attending the University of Villanova in the fall.</p>

                                <h4><b>Fun Facts</b></h4>
                                <ul style = "font-size: 16px;">
                                    <li>Likes the Pittsburgh Steelers.</li>
                                    <li>Enjoys watching Magic Johnson Highlights. </li>
                                    <li>Has an older brother that Plays college football</li>
                                    <li>Favorite color is purple</li>
                                    <li>Favorite number is 19</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center over">
                            <div class="col-md-11">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>

                                <img class="d-block devImage" src="../imgs/JSulks2.jpg" alt="Joseph Sulkes">
                                <div class="overlay">
                                    <div class="img">
                                        <img src="../imgs/JoeBby.jpg" alt="Baby Joe" style="width:100%;opacity:0.85;border-radius:5px 5px 0 0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row devInfo justify-content-center over">
                            <div class="col-md-11 p-4">
                                <h4><b>Joseph Sulkes</b></h4>
                                <p style = "font-size: 16px;">Joseph Sulkes is a student at Palmer Trinity School and lives in Miami, Florida.
                                    He is a captain on the varsity football and baseball team.
                                    He is also a member of the student diversity council, wind ensemble, Math Honor Society, and Spanish Honor Society at his school.
                                    Joseph enjoys contributing to his community and leads the Achieve Miami club that assists elementary students at under-resourced Miami Dade county schools.
                                    Joseph began his computer science interest in his junior year when he took AP Computer Science.
                                    Ever since taking that course, Joseph wanted to expand his CS knowledge by benefiting the community. Joseph will be attending the University of Florida in the fall.</p>

                                <h4><b>Fun Facts</b></h4>
                                <ul style = "font-size: 16px;">
                                    <li>As well as baseball and football, Joseph enjoys competing in mathematics.</li>
                                    <li>Joseph loves to watch star wars.</li>
                                    <li>Joseph has attended every University of Miami football home game since he was 8.</li>
                                    <li>Joseph is a die hard Philadelphia Eagles fan.</li>
                                    <li>Joseph loves his dog, Chester, a schnoodle.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#devCarousel" role="button" data-slide="prev">
                    </a>
                    <a class="carousel-control-next" href="#devCarousel" role="button" data-slide="next">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
