<h1 style = "text-align: center;" > Breakout </h1>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div id="drawArea" class="col-lg-5">
        </div>
    </div>
</div>
<!-- PLEASE NO CHANGES BELOW THIS LINE (UNTIL I SAY SO) -->
<script language="javascript" type="text/javascript" src="gamecode/breakout/Ball.js"></script>
<script language="javascript" type="text/javascript" src="gamecode/breakout/Brick.js"></script>
<script language="javascript" type="text/javascript" src="gamecode/breakout/Paddle.js"></script>
<script language="javascript" type="text/javascript" src="gamecode/breakout/PowerUp.js"></script>
<script language="javascript" type="text/javascript" src="gamecode/breakout/Breakout.js"></script>
<!-- OK, YOU CAN MAKE CHANGES BELOW THIS LINE AGAIN -->

<!-- This line removes any default padding and style.
     You might only need one of these values set. -->

<style>
 #drawArea {
     padding:0;
 }
</style>
