 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    document.addEventListener("keydown", function (e) {
  if([37,38,39,40].indexOf(e.keyCode) > -1){
    e.preventDefault();
    // Do whatever else you want with the keydown event (i.e. your navigation).
  }
}, false);



    </script>

<h1 style = "text-align: center;">Fill It In</h1>
<!-- PLEASE NO CHANGES BELOW THIS LINE (UNTIL I SAY SO) -->

  <script language="javascript" type="text/javascript" src="gamecode/fillitin/Board.js"></script>
  <script language="javascript" type="text/javascript" src="gamecode/fillitin/Enemy_1.js"></script>
  <script language="javascript" type="text/javascript" src="gamecode/fillitin/Enemy_2.js"></script>
  <script language="javascript" type="text/javascript" src="gamecode/fillitin/Enemy_3.js"></script>
  <script language="javascript" type="text/javascript" src="gamecode/fillitin/Player.js"></script>
  <script language="javascript" type="text/javascript" src="gamecode/fillitin/Fill_It_In.js"></script>
  <!-- OK, YOU CAN MAKE CHANGES BELOW THIS LINE AGAIN -->

  <!-- This line removes any default padding and style.
       You might only need one of these values set. -->
  <style> body { padding: 0; margin: 0; } </style>
  <style>
      canvas {
      padding: 0;
      margin: auto;
      display: block;
      width: 800px;
      height: 500px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      }
 </style>
