<h1 style = "text-align: center;" > Square Jump  </h1>


<!-- PLEASE NO CHANGES BELOW THIS LINE (UNTIL I SAY SO) -->
  <script language="javascript" type="text/javascript" src="gamecode/jump/Enemy.js"></script>
  <script language="javascript" type="text/javascript" src="gamecode/jump/Killers.js"></script>
  <script language="javascript" type="text/javascript" src="gamecode/jump/Player.js"></script>
  <script language="javascript" type="text/javascript" src="gamecode/jump/Score.js"></script>
  <script language="javascript" type="text/javascript" src="gamecode/jump/Jump.js"></script>
  <!-- OK, YOU CAN MAKE CHANGES BELOW THIS LINE AGAIN -->



  <!-- This line removes any default padding and style.
  You might only need one of these values set. -->


  <style> body { padding: 0; margin: 0; } </style>
  <style> canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
</style>
